<div class="col py-3">
    <article class="card h-100 border-0 shadow">
        <div class="card-img-top position-relative overflow-hidden">
            <a class="d-block" href="nft-single-auction-live.html"><img src="/img/nft/catalog/02.jpg"
                    alt="Product image" /></a>

            <!-- Wishlist button-->
            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Add to Favorites" style="margin: 12px">
                <i class="ci-heart"></i>
            </button>
        </div>
        <div class="card-body">
            <h3 class="product-title mb-2 fs-base">
                <a class="d-block text-truncate" href="nft-single-auction-live.html">Ocean and sky</a>
            </h3>
            <span class="fs-sm text-muted">Current bid:</span>
            <div class="d-flex align-items-center flex-wrap">
                <h4 class="mt-1 mb-0 fs-base text-darker">0.5 ETH</h4>
                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 2,000.55)</span>
            </div>
        </div>
        <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/02.png" width="32" alt="Avatar" /><a
                    class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">@YunusKullebi</a>
            </div>
        </div>
    </article>
</div>
<!-- Product item-->
<div class="col py-3">
    <article class="card h-100 border-0 shadow">
        <div class="card-img-top position-relative overflow-hidden">
            <a class="d-block" href="nft-single-buy.html"><img src="/img/nft/catalog/03.jpg" alt="Product image" /></a>
            <!-- Wishlist button-->
            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Add to Favorites" style="margin: 12px">
                <i class="ci-heart"></i>
            </button>
        </div>
        <div class="card-body">
            <h3 class="product-title mb-2 fs-base">
                <a class="d-block text-truncate" href="nft-single-buy.html">Aesthetic art collage</a>
            </h3>
            <span class="fs-sm text-muted">Reserve price:</span>
            <div class="d-flex align-items-center flex-wrap">
                <h4 class="mt-1 mb-0 fs-base text-darker">0.6 ETH</h4>
                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 2,400.65)</span>
            </div>
        </div>
        <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/03.png" width="32" alt="Avatar" /><a
                    class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">@lulucollages</a>
            </div>
        </div>
    </article>
</div>
<!-- Product item-->
<div class="col py-3">
    <article class="card h-100 border-0 shadow">
        <div class="card-img-top position-relative overflow-hidden">
            <a class="d-block" href="nft-single-buy.html"><img src="/img/nft/catalog/04.jpg" alt="Product image" /></a>
            <!-- Wishlist button-->
            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Add to Favorites" style="margin: 12px">
                <i class="ci-heart"></i>
            </button>
        </div>
        <div class="card-body">
            <h3 class="product-title mb-2 fs-base">
                <a class="d-block text-truncate" href="nft-single-buy.html">Astronaut surrounded by lights</a>
            </h3>
            <span class="fs-sm text-muted">Reserve price:</span>
            <div class="d-flex align-items-center flex-wrap">
                <h4 class="mt-1 mb-0 fs-base text-darker">0.1 ETH</h4>
                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 400.19)</span>
            </div>
        </div>
        <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/04.png" width="32" alt="Avatar" /><a
                    class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">@DistroKid</a>
            </div>
        </div>
    </article>
</div>
<!-- Product item-->
<div class="col py-3">
    <article class="card h-100 border-0 shadow">
        <div class="card-img-top position-relative overflow-hidden">
            <a class="d-block" href="nft-single-auction-live.html"><img src="/img/nft/catalog/09.jpg"
                    alt="Product image" /></a>
            <!-- Wishlist button-->
            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Add to Favorites" style="margin: 12px">
                <i class="ci-heart"></i>
            </button>
        </div>
        <div class="card-body">
            <h3 class="product-title mb-2 fs-base">
                <a class="d-block text-truncate" href="nft-single-auction-live.html">3d aesthetics with
                    shapes</a>
            </h3>
            <span class="fs-sm text-muted">Current bid:</span>
            <div class="d-flex align-items-center flex-wrap">
                <h4 class="mt-1 mb-0 fs-base text-darker">0.156 ETH</h4>
                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 595.76)</span>
            </div>
        </div>
        <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/09.png" width="32" alt="Avatar" /><a
                    class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">@shubham_dhage</a>
            </div>
        </div>
    </article>
</div>
<!-- Product item-->
<div class="col py-3">
    <article class="card h-100 border-0 shadow">
        <div class="card-img-top position-relative overflow-hidden">
            <a class="d-block" href="nft-single-auction-live.html"><img src="/img/nft/catalog/10.jpg"
                    alt="Product image" /></a>

            <!-- Wishlist button-->
            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Add to Favorites" style="margin: 12px">
                <i class="ci-heart"></i>
            </button>
        </div>
        <div class="card-body">
            <h3 class="product-title mb-2 fs-base">
                <a class="d-block text-truncate" href="nft-single-auction-live.html">Ocean and sky</a>
            </h3>
            <span class="fs-sm text-muted">Current bid:</span>
            <div class="d-flex align-items-center flex-wrap">
                <h4 class="mt-1 mb-0 fs-base text-darker">0.5 ETH</h4>
                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 2,000.55)</span>
            </div>
        </div>
        <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/10.png" width="32" alt="Avatar" /><a
                    class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">@MihailGreen</a>
            </div>
        </div>
    </article>
</div>
<!-- Product item-->
<div class="col py-3">
    <article class="card h-100 border-0 shadow">
        <div class="card-img-top position-relative overflow-hidden">
            <a class="d-block" href="nft-single-buy.html"><img src="/img/nft/catalog/11.jpg" alt="Product image" /></a>
            <!-- Wishlist button-->
            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Add to Favorites" style="margin: 12px">
                <i class="ci-heart"></i>
            </button>
        </div>
        <div class="card-body">
            <h3 class="product-title mb-2 fs-base">
                <a class="d-block text-truncate" href="nft-single-buy.html">Aesthetic art collage</a>
            </h3>
            <span class="fs-sm text-muted">Reserve price:</span>
            <div class="d-flex align-items-center flex-wrap">
                <h4 class="mt-1 mb-0 fs-base text-darker">0.6 ETH</h4>
                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 2,400.65)</span>
            </div>
        </div>
        <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/11.png" width="32" alt="Avatar" /><a
                    class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">@lulucollages</a>
            </div>
        </div>
    </article>
</div>
<!-- Product item-->
<div class="col py-3">
    <article class="card h-100 border-0 shadow">
        <div class="card-img-top position-relative overflow-hidden">
            <a class="d-block" href="nft-single-auction-live.html"><img src="/img/nft/catalog/12.jpg"
                    alt="Product image" /></a>

            <!-- Wishlist button-->
            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Add to Favorites" style="margin: 12px">
                <i class="ci-heart"></i>
            </button>
        </div>
        <div class="card-body">
            <h3 class="product-title mb-2 fs-base">
                <a class="d-block text-truncate" href="nft-single-auction-live.html">Astronaut surrounded by
                    lights</a>
            </h3>
            <span class="fs-sm text-muted">Reserve price:</span>
            <div class="d-flex align-items-center flex-wrap">
                <h4 class="mt-1 mb-0 fs-base text-darker">0.1 ETH</h4>
                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 400.19)</span>
            </div>
        </div>
        <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/12.png" width="32" alt="Avatar" /><a
                    class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">@Sharan_Pagadala</a>
            </div>
        </div>
    </article>
</div>



<!-- Product carousel (Trending in)-->
<section class="mb-4 py-5 bg-secondary">
    <div class="container py-lg-4">
        <div class="d-flex flex-wrap mb-3">
            <h2 class="h3 mb-0">Trending in&nbsp;</h2>
            <div class="dropdown d-inline-block" data-bs-toggle="select">
                <a class="dropdown-toggle h3 text-primary" href="#" data-bs-toggle="dropdown"><span
                        class="dropdown-toggle-label">All categories</span></a>
                <input type="hidden" name="trending-category" />
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">All categories</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">Premium</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">Art</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">Photography</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">Music</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">Gaming</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">Sports</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">Collections</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><span class="dropdown-item-label">Utility</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Product carousel-->
        <div class="tns-carousel tns-controls-static tns-controls-outside mx-xl-n4 mx-n2 px-xl-4 px-0">
            <div class="tns-carousel-inner row gx-xl-0 gx-3 mx-0"
                data-carousel-options='{"items": 2, "nav": true, "responsive": {"0":{"items":1,"controls": false, "gutter": 0},"500":{"items":2},"768":{"items":3}, "1100":{"items":4}, "1278":{"controls": true, "gutter": 30}}}'>
                <!-- Product item-->
                <div class="col py-3">
                    <article class="card h-100 border-0">
                        <div class="card-img-top position-relative overflow-hidden">
                            <a class="d-block" href="nft-single-buy.html"><img src="/img/nft/catalog/05.jpg"
                                    alt="Product image" /></a>
                            <!-- Wishlist button-->
                            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"
                                style="margin: 12px">
                                <i class="ci-heart"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <h3 class="product-title mb-2 fs-base">
                                <a class="d-block text-truncate" href="nft-single-buy.html">Aesthetic art collage</a>
                            </h3>
                            <span class="fs-sm text-muted">Reserve price:</span>
                            <div class="d-flex align-items-center flex-wrap">
                                <h4 class="mt-1 mb-0 fs-base text-darker">0.6 ETH</h4>
                                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 2,400.65)</span>
                            </div>
                        </div>
                        <div class="card-footer mt-n1 py-0 border-0">
                            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/05.png" width="32"
                                    alt="Avatar" /><a class="nav-link-style fs-sm stretched-link"
                                    href="nft-vendor.html">@Sharan_Pagadala</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Product item-->
                <div class="col py-3">
                    <article class="card h-100 border-0">
                        <div class="card-img-top position-relative overflow-hidden">
                            <a class="d-block" href="nft-single-auction-live.html"><img src="/img/nft/catalog/06.jpg"
                                    alt="Product image" /></a>

                            <!-- Wishlist button-->
                            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"
                                style="margin: 12px">
                                <i class="ci-heart"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <h3 class="product-title mb-2 fs-base">
                                <a class="d-block text-truncate" href="nft-single-auction-live.html">Ocean and sky</a>
                            </h3>
                            <span class="fs-sm text-muted">Current bid:</span>
                            <div class="d-flex align-items-center flex-wrap">
                                <h4 class="mt-1 mb-0 fs-base text-darker">0.5 ETH</h4>
                                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 2,000.55)</span>
                            </div>
                        </div>
                        <div class="card-footer mt-n1 py-0 border-0">
                            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/06.png" width="32"
                                    alt="Avatar" /><a class="nav-link-style fs-sm stretched-link"
                                    href="nft-vendor.html">@Simonlee</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Product item-->
                <div class="col py-3">
                    <article class="card h-100 border-0">
                        <div class="card-img-top position-relative overflow-hidden">
                            <a class="d-block" href="nft-single-auction-live.html"><img src="/img/nft/catalog/07.jpg"
                                    alt="Product image" /></a>

                            <!-- Wishlist button-->
                            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"
                                style="margin: 12px">
                                <i class="ci-heart"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <h3 class="product-title mb-2 fs-base">
                                <a class="d-block text-truncate" href="nft-single-auction-live.html">3d aesthetics with
                                    shapes</a>
                            </h3>
                            <span class="fs-sm text-muted">Current bid:</span>
                            <div class="d-flex align-items-center flex-wrap">
                                <h4 class="mt-1 mb-0 fs-base text-darker">0.156 ETH</h4>
                                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 595.76)</span>
                            </div>
                        </div>
                        <div class="card-footer mt-n1 py-0 border-0">
                            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/07.png" width="32"
                                    alt="Avatar" /><a class="nav-link-style fs-sm stretched-link"
                                    href="nft-vendor.html">@Shubham_Dhage</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Product item-->
                <div class="col py-3">
                    <article class="card h-100 border-0">
                        <div class="card-img-top position-relative overflow-hidden">
                            <a class="d-block" href="nft-single-auction-live.html"><img src="/img/nft/catalog/08.jpg"
                                    alt="Product image" /></a>
                            <!-- Wishlist button-->
                            <button class="btn-wishlist btn-sm position-absolute top-0 end-0" type="button"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"
                                style="margin: 12px">
                                <i class="ci-heart"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <h3 class="product-title mb-2 fs-base">
                                <a class="d-block text-truncate" href="nft-single-auction-live.html">Astronaut
                                    surrounded by
                                    lights</a>
                            </h3>
                            <span class="fs-sm text-muted">Reserve price:</span>
                            <div class="d-flex align-items-center flex-wrap">
                                <h4 class="mt-1 mb-0 fs-base text-darker">0.1 ETH</h4>
                                <span class="mt-1 ms-1 fs-xs text-muted">(≈ $ 400.19)</span>
                            </div>
                        </div>
                        <div class="card-footer mt-n1 py-0 border-0">
                            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                                <img class="me-2 rounded-circle" src="/img/nft/catalog/avatars/08.png" width="32"
                                    alt="Avatar" /><a class="nav-link-style fs-sm stretched-link"
                                    href="nft-vendor.html">@DistroKid</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="d-flex flex-sm-row flex-column justify-content-center pt-4">
            <a class="btn btn-outline-accent" href="nft-catalog-v2.html">Browse marketplace</a>
        </div>
    </div>
</section>